<?xml version="1.0" encoding="UTF-8" ?>
<config>
<name>YUI</name>
<datetime>%Y/%m/%d %H:%M:%S</datetime>
<messages>
	<message>
		<conditions>
			<condition type="startup" />
		</conditions>
		<contents>
			<content>嗨，我是{NAME}。你好~</content>
			<content>嗨，我是{NAME}。今天过得还好嘛~</content>
		</contents>
	</message>
	<message>
		<conditions>
			<condition type="end" />
		</conditions>
		<contents>
			<content>再见咯~</content>
			<content>祝你有愉快的一天！</content>
		</contents>
	</message>
	<message>
		<conditions>
			<condition type="time" time="2015/12/08 18:51:40" />
		</conditions>
		<contents>
			<content>就是现在</content>
		</contents>
	</message>
</messages>
</config>
